@media print {
  .noprint {
    display: none !important;
  }
  .plotDivPrint {
    left: 0 !important;
    width: 98% !important;
    height: 98% !important;
    background-color: #fff !important;
  }
}
body,
html {
  overflow: hidden;
}
input:-moz-read-only {
  background-color: #ff0;
  color: grey;
}
input:read-only {
  background-color: #d3d3d3;
  color: grey;
}
.noSelect {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.unchecked {
  color: #000;
  cursor: pointer;
  font-size: 12px;
}
.checked {
  border-width: 2px;
  border-style: inset;
  cursor: pointer;
  font-size: 12px;
}
.unchecked:hover {
  background-color: #d3d3d3;
}
table {
  width: 99%;
  white-space: nowrap;
}
th {
  border: 1px solid #000;
}
.color {
  min-width: 12px;
  width: 12px;
}
.plotContainer {
  position: relative;
  margin-left: 15px;
  margin-top: 15px;
  height: 98%;
  width: 98%;
  overflow: hidden;
}
#titleDiv {
  position: absolute;
  height: 22px;
  left: 108px;
  right: 305px;
  top: 0;
  overflow: hidden;
}
#bottomScaleDiv {
  height: 40px;
  position: absolute;
  left: 108px;
  right: 305px;
  bottom: 22px;
  overflow: hidden;
}
#footerDiv {
  height: 22px;
  position: absolute;
  left: 108px;
  right: 305px;
  bottom: 0;
  overflow: hidden;
}
#topScaleDiv {
  height: 40px;
  position: absolute;
  left: 108px;
  top: 22px;
  right: 305px;
  overflow: hidden;
}
#wrap {
  position: absolute;
  bottom: 0;
  width: 22px;
  height: 100%;
  text-align: center;
  display: table;
}
#leftScaleDiv {
  width: 108px;
  font-size: 16px;
  position: absolute;
  bottom: 62px;
  top: 62px;
  left: 0;
  overflow: hidden;
}
#rightScaleDiv {
  width: 108px;
  font-size: 16px;
  position: absolute;
  bottom: 62px;
  top: 62px;
  right: 196px;
  overflow: hidden;
}
#centralDiv {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  font-size: 16px;
  position: absolute;
  bottom: 62px;
  left: 108px;
  top: 62px;
  right: 305px;
  overflow: hidden;
  z-index: 1;
}
#legendDiv {
  width: 180px;
  position: absolute;
  right: 3px;
  bottom: 25px;
  top: 25px;
  overflow: hidden;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.rotate {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
}
.grid-item {
  box-sizing: border-box;
  background-color: rgba(249, 251, 221, 0.8);
  border: 1px solid gray;
}
.grid-item-header {
  box-sizing: border-box;
  background-color: #d3d3d3;
  height: 60px;
  font-size: 12px;
}
.grid-item-body {
  box-sizing: border-box;
  overflow: auto;
  height: 120px;
}
:disabled {
  background: #ccc;
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  left: 4px;
  bottom: 4px;
  background-color: #fff;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
input:checked + .slider {
  background-color: #2196f3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round:before {
  border-radius: 50%;
}
